@use "../../styles/modules/global-vars" as *;

$self: '.c-input';
$input-field-height: 40px;
$input-label-line-height: 20px;
$input-field-border-color: #e5e5e5;
$input-append-width: 24px;
$input-append-height: $input-field-height;
$input-details-height: 24px;
$input-label-left: 5px;

.c-input {
  --c-input-field-height: #{$input-field-height};
  --c-input-field-border-radius: var(--c-app-border-radius);
  --c-input-field-border-color: #{$input-field-border-color};
  --c-input-field-text-color: var(--c-app-text-color);
  --c-input-details-height: #{$input-details-height};
  --c-input-error-color: var(--c-app-error-color);
  --c-input-primary-color: var(--c-app-primary-color);
  --c-input-prepend-width: #{$input-field-height};
  --c-input-append-width: #{$input-append-width};
  --c-input-background-color: var(--c-app-surface-color);
  --c-input-label-padding-x: 4px;
  --c-input-label-left: #{$input-label-left};
  --c-input-label-font-size: 16px;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: .2s color $primary-transition;
  color: currentColor;
  position: relative;
  border-radius: var(--c-app-border-radius);
  background-color: var(--c-input-background-color);

  &--focused,
  &--has-value,
  &--focused#{$self}--has-prepend,
  &--has-value#{$self}--has-prepend {
    #{$self}__label > .c-label {
      transform: translate(0, calc(-50%)) scale(.9);
      background-color: inherit;
    }
  }

  &--focused {
    #{$self}__field {
      border: thin solid currentColor;
    }

    .c-autocomplete ~ #{$self}__append {
      transform: rotate(180deg);
    }

    .c-select ~ #{$self}__append {
      transform: rotate(180deg);
    }
  }

  &--has-error {
    color: var(--c-input-error-color);
  }

  &--default {
    color: var(--c-input-primary-color);
  }

  $prepended-translate-x: calc(#{var(--c-input-prepend-width)} - #{var(--c-input-label-padding-x)} * 2);
  $translate-y-down: calc(#{var(--c-input-field-height)} / 2 - (#{var(--c-input-label-font-size)} / 2));

  &--clearable {
    #{$self}__field > .c-autocomplete > input {
      padding-right: 60px;
    }

    #{$self}__field > .c-select > input {
      padding-right: 60px;
    }
  }

  &--has-prepend {
    #{$self}__label > .c-label {
      transform: translate($prepended-translate-x, $translate-y-down);
    }

    #{$self}__field > * > input {
      padding-left: var(--c-input-prepend-width);
    }
  }

  &--has-append {
    #{$self}__field > * > input {
      padding-right: var(--c-input-append-width);
    }
  }

  &__prepend {
    height: var(--c-input-field-height);
    width: var(--c-input-prepend-width);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__clear {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: var(--c-input-append-width);
    top: 0;
    bottom: 0;
    right: 0;
  }

  &__append {
    height: var(--c-input-field-height);
    width: var(--c-input-append-width);
    transition: transform .1s linear;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__label {
    position: absolute;
    height: 0;
    top: 0;
    border-radius: var(--c-input-field-border-radius);
    background-color: inherit;

    .c-label {
      transition: background-color, transform, .1s linear;
      position: absolute;
      left: var(--c-input-label-left);
      font-size: var(--c-input-label-font-size);
      line-height: .9;
      pointer-events: none;
      transform: translateY($translate-y-down) scale(1);
      background-color: transparent;
      padding: 0 var(--c-input-label-padding-x);
    }
  }

  &__field {
    display: flex;
    height: var(--c-input-field-height);
    border: thin solid var(--c-input-field-border-color);
    border-radius: var(--c-input-field-border-radius);
    transition: .4s $primary-transition;
    transition-property: color, border-color;
    position: relative;
    overflow: hidden;

    & > .c-select + #{$self}__clear {
      right: var(--c-input-append-width);
    }

    & > .c-autocomplete + #{$self}__clear {
      right: var(--c-input-append-width);
    }

    & > * > input,
    & > * > textarea {
      color: var(--c-input-field-text-color)
    }
  }

  &__details {
    height: var(--c-input-details-height);
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
