$toolbar-height: 60px;
$toolbar-logo-width: auto;
$toolbar-logo-padding: 0 10px;

.c-toolbar {
  --toolbar-height: #{$toolbar-height};
  --toolbar-logo-width: #{$toolbar-logo-width};
  --toolbar-background-color: var(--c-app-base-color);
  --toolbar-logo-padding: #{$toolbar-logo-padding};

  width: 100%;
  display: flex;
  height: var(--toolbar-height);
  background-color: var(--toolbar-background-color);

  &-logo {
    width: var(--toolbar-logo-width);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--toolbar-logo-padding);
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
