$field-padding: 4px 0;

.c-field {
  color: currentColor;

  &::placeholder {
    opacity: 0;
  }

  &--focused {
    &::placeholder {
      opacity: 1;
    }
  }

  &--filled {
    &::placeholder {
      opacity: 0;
    }
  }
}
