/* @v3group/utils-jit: generated utilities */
.h-\[40px\]{height: 40px !important;}
.min-w-\[220px\]{min-width: 220px !important;}
.r-\[8px\]{border-radius: 8px !important;}
.w-\[100\%\]{width: 100% !important;}
.w-\[120px\]{width: 120px !important;}
.w-\[200px\]{width: 200px !important;}
.w-\[300px\]{width: 300px !important;}
