$primary-transition: cubic-bezier(.25, .8, .5, 1);

:root {
  --global-border-radius: 8px;
  --global-error-color: #ef231f;
  --global-success-color: #43d31b;
  --global-primary-color: #1f77c4;
  --global-secondary-color: #39638c;
  --global-base-color: #ffffff;
  --global-text-color: #3d3d3d;
}
